/* Font-family for body is open sans */
:root {
    /* Colors - Primary */
    --pink-clr: hsl(322, 100%, 66%);
    --light-pink-clr: hsl(321, 100%, 78%);
    --light-red-clr: hsl(0, 100%, 63%);

    /* Colors - Neutral */
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --white-clr: hsl(0, 0%, 100%);

    /* Font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-lg: 4.2rem;
    --fs-md: 2.8rem;
    --fs-sm: 1.6rem;

    /* Font-families */
    --ff-sans-poppins: poppins, sans-serif;
    --ff-sans-open-sans: "open sans", sans-serif;

    /* Gap */
    --gap-sm: 2rem;
    --gap-md: 3rem;
}

/* ------------------------------ */
/* Reset                          */
/* ------------------------------ */

html {
    font-size: 62.5%;
}

/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
}

/* Set up the body */

html,
body {
    height: 100%;
}

body {
    font-family: var(--ff-sans-poppins);
    font-size: var(--fs-sm);
    color: var(--very-dark-cyan);
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    max-width: 100%;
    display: block;
}

input {
    border: none;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Avoid text overflow */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
    isolation: isolate;
}

button {
    background: none;
    border: none;
}

/* ------------------------------ */
/* Utility Classes                */
/* ------------------------------ */


/* General */
.container {
    padding-inline: 2rem;
    margin-inline: auto;
    max-width: 1024px;
}

.inner-container {
    max-width: 800px;
    padding-inline: 2rem;
    margin-inline: auto;
}

.flow>*:where(:not(:first-child)) {
    margin-top: var(--gap-sm);
}

.flex {
    display: flex;
    gap: var(--gap-sm);
    align-items: center;
}

.grid {
    display: grid;
    gap: var(--gap-md);
}

.text-center {
    text-align: center;
}

.btn {
    background-color: var(--pink-clr);
    color: var(--white-clr);
    font-weight: 600;
    padding: 1em 2em;
    border-radius: 3rem;
    cursor: pointer;
}

/* Colors */
.bg-dark {
    background-color: var(--very-dark-cyan);
}

.bg-pink {
    background-color: var(--pink-clr);
}

.bg-light {
    background-color: var(--very-pale-blue);
}

.text-pink {
    color: var(--pink-clr);
}

.text-dark {
    color: var(--very-dark-cyan);
}

.text-accent {
    color: var(--very-pale-blue);
}

.text-white {
    color: var(--white-clr);
}

/* Typography - skipped */
.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.fs-lg {
    font-size: 3.5rem;
}

.fs-md {
    font-size: 2.8rem;
}

.fs-sm {
    font-size: 1.6rem;
}

/* ------------------------------ */
/* Components                     */
/* ------------------------------ */

/* Header */
.header {
    padding-block: 2.5rem;
}

.nav {
    justify-content: space-between;
    align-items: center;
}

.nav .logo {
    width: 14rem;
}

.nav button {
    border: 2px solid var(--pink-clr);
    padding: 0.5em 1.2em;
    border-radius: 2rem;
}

/* Main section */
.main-section-container {
    padding-inline: 4rem;
}

.main-section-container>* {
    margin-top: 3rem;
}

.sub-main-section {
    /* flex-direction: column;
     */
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 5rem;
    width: 80%;
    margin-inline: auto;
    justify-content: center;
}

.sub-main-section .box-data {
    font-size: clamp(4rem, 5vw + 1rem, 7rem);
    font-weight: bold;
    position: relative;
}

.sub-main-box img {
    position: absolute;
    left: 0;
    top: -2rem;
    width: 30px;
}

/* Benefits section */
.benefits-section {
    gap: 7rem;
}

.curve-1-start {
    background: url("../images/bg-section-top-mobile-1.svg") center / cover no-repeat;
}

.curve-1-end {
    background: url("../images/bg-section-bottom-mobile-1.svg") center / cover no-repeat;
}

.curve-2-start {
    background: url("../images/bg-section-top-mobile-2.svg") center / cover no-repeat;
}

.curve-2-end {
    background: url("../images/bg-section-bottom-mobile-2.svg") center / cover no-repeat;
}

.new-curve {
    height: 150px;
}

.curve {
    position: relative;
    min-height: 100px;
}


.curve img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.benefits-box {
    flex-direction: column;
    gap: var(--gap-md);
    padding-block: 1.6rem;
}

/* second main section */
.second-main-section {
    margin-block: 8.6rem;
}

/* Footer */
.footer-curve {
    background: url("../images/bg-footer-top-mobile.svg") center / cover no-repeat;
}

.footer {
    margin-top: 6rem;
}

.footer-container {
    gap: 5rem;
    flex-direction: column;
}

.newsletter-form {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.newsletter-form input {
    padding: .5em;
    width: 100%;
}

.newsletter-form input,
.newsletter-form button {
    border-radius: 6px;
}

.newsletter-form button {
    /* align-self: end;
    justify-self: end; */
    padding: .6em 1.2em;
}

.company-profile {
    gap: 35px;
}

/* attribution */
.attribution {
    margin-top: 20px;
    background-color: hsl(192, 75%, 14%);
    padding-block: 10px;
}

/* ------------------------- */
/* responsive break points   */
/* ------------------------- */

@media screen and (min-width: 576px) {

    /* Main section */
    .sub-main-section {
        justify-content: space-between;
    }

    /* Benefit section */
    .curve-1-start {
        background: url("../images/bg-section-top-desktop-1.svg") center / cover no-repeat;
    }

    .curve-1-end {
        background: url("../images/bg-section-bottom-desktop-1.svg") center / cover no-repeat;
    }

    .curve-2-start {
        background: url("../images/bg-section-top-desktop-2.svg") center / cover no-repeat;
    }

    .curve-2-end {
        background: url("../images/bg-section-bottom-desktop-2.svg") center / cover no-repeat;
    }

    /* Footer */
    .footer-curve {
        background: url("../images/bg-footer-top-desktop.svg") center / cover no-repeat;
    }

    .newsletter-form input[type=email] {
        width: 80%;
    }
}

/* @media screen and (max-width: 768px) {
    .footer-container {
        max-width: 600px;
    }
} */

@media screen and (min-width: 768px) {

    /* Benefits section */
    .benefits-box {
        flex-direction: row;
    }

    .benefits-sub-section .benefits-image {
        order: 2;
    }

    .benefits-text {
        text-align: left;
    }

    /* Footer */
    .footer-container {
        flex-direction: row;
    }

    .newsletter {
        order: 2;
    }
}

@media screen and (min-width: 1024px) {

    /* Benefits section */
    .benefits-text {
        align-self: center;
    }

    /* footer */
    .newsletter-form input[type=email] {
        width: 69%;
    }
}